{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include "snippets/styles.html" %}
  <title>page not found</title>
</head>
<body class="bg-dark">

  <div class="container-fluid text-center text-white">
    <h1 style="margin-top: 180px;" class="text-warning">Page Not Found</h1>
    <h2>What are you looking for?</h2>
    <h2>Try to <span class="text-danger">hack</span> this website, huh?</h2>
  </div>
  {% include "snippets/scripts.html" %}
</body>
</html>