{% load static %}
<nav class="navbar fixed-top  navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img style="height: 27px;" src="{% static 'img/laptop.svg' %}" alt="">
      Navbar
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto text-center">
        {% for link, name in nav %}
          <li class="nav-item">
            <a class="nav-link active" href="{{ link }}">{{ name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>